@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #333; 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
   color: aliceblue;
   overflow-x: hidden;
   justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  
}


.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  